<!DOCTYPE html>
<html>

<head>
    <title>Bulk ORDER</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/bulk.css" />


</head>

<body>
    {% include 'nav.html' %}
    <h1>Bulk Purchase</h1>
    <div id="form-rows">
        <div class="form-row">
            <label for="subcat-1">Subcategory:</label>
            <select id="subcat-1" name="subcat-1">
                {% for item in subcat %}
                <option value="{{item[0]}}">{{item[0]}}</option>
                {% endfor %}
            </select>
            <label for="prod-1">Product:</label>
            <select id="prod-1" name="prod-1">
                <option value="">All</option>
                <option value="">All</option>
                <option value="">All</option>
            </select>
            <label for="qty-1">Quantity:</label>
            <input type="number" id="qty-1" name="qty-1" min="0">
            <label for="price-1">Price of 1:</label>
            <input type="text" id="price-1" name="price-1" readonly>
            <label for="total-1">Total Price:</label>
            <input type="text" id="total-1" name="total-1" readonly>

        </div>
    </div>
    <div>
        <button id="add-row">+</button>
        <button id="submit-form">Submit</button>
    </div>



    <script>
        // Get all the form rows
        $(document).ready(function () {
            var row = 1;

            // Add new row
            $('#add-row').click(function () {
                row++;
                var html = '<div class="form-row">' +
                    '<label for="subcat-' + row + '">Subcategory:</label>' +
                    '<select id="subcat-' + row + '" name="subcat-' + row + '">' +
                    '{% for item in subcat %}' +
                    '<option value="{{item[0]}}">{{item[0]}}</option>' +
                    '{% endfor %}' +
                    '</select>' +
                    '<label for="prod-' + row + '">Product:</label>' +
                    '<select id="prod-' + row + '" name="prod-' + row + '">' +
                    '<option value="">All</option>' +
                    '<option value="">All</option>' +
                    '<option value="">All</option>' +
                    '</select>' +
                    '<label for="qty-' + row + '">Quantity:</label>' +
                    '<input type="number" id="qty-' + row + '" name="qty-' + row + '" min="0">' +
                    '<label for="price-' + row + '">Price of 1:</label>' +
                    '<input type="text" id="price-' + row + '" name="price-' + row + '" readonly>' +
                    '<label for="total-' + row + '">Total Price:</label>' +
                    '<input type="text" id="total-' + row + '" name="total-' + row + '" readonly>' +
                    '</div>';
                $('#form-rows').append(html);
            });

            // Get product options and prices on subcategory change
            $(document).on('change', 'select[name^="subcat-"]', function () {
                var rowId = $(this).attr('id').split('-')[1];
                var subcat = $(this).val();
                $.ajax({
                    url: '/productbulk',
                    type: 'POST',
                    data: { subcat: subcat },
                    success: function (data) {
                        $('#prod-' + rowId).html(data.product_options);

                    },
                    error: function () {
                        alert('Error fetching product options and prices.');
                    }
                });
            });

            $(document).on('change', 'select[name^="prod-"]', function () {
                var rowId = $(this).attr('id').split('-')[1];
                var esin = $(this).val();
                $.ajax({
                    url: '/price',
                    type: 'POST',
                    data: { esin: esin },
                    success: function (data) {
                        $('#price-' + rowId).val(data.price);
                    },
                    error: function () {
                        alert('Error fetching product price.');
                    }
                });
            });


            $(document).on('change', 'input[name^="qty-"]', function () {
                var rowId = $(this).attr('id').split('-')[1];
                var qty = $(this).val();
                var price = $('#price-' + rowId).val();
                var total = qty * price;
                $('#total-' + rowId).val(total);
            });



            $(document).on('click', '#submit-form', function () {
                var formData = [];
                $('div.form-row').each(function () {
                    var subcat = $(this).find('select[name^="subcat-"]').val();
                    var prod = $(this).find('select[name^="prod-"]').val();
                    var qty = $(this).find('input[name^="qty-"]').val();
                    var price = $(this).find('input[name^="price-"]').val();
                    formData.push({ subcat: subcat, prod: prod, qty: qty, price: price });
                });

                $.ajax({
                    url: '/add-to-table',
                    type: 'POST',
                    data: JSON.stringify(formData),
                    contentType: 'application/json',
                    success: function (data) {
                        alert('Data saved successfully.');
                    },
                    error: function () {
                        alert('Error saving data.');
                    }
                });
            });



        });


    </script>


    {% include 'foot.html' %}
</body>

</html>