<!DOCTYPE html>
<html>

<head>
    <title>Bulk ORDER</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/bulk.css" />


</head>

<body>
    {% include 'nav.html' %}
    <h1>Multi-Row Form</h1>
    <div id="form-rows">
        <div class="form-row">
            <label for="subcat-1">Subcategory:</label>
            <select id="subcat-1" name="subcat-1">
                {% for item in subcat %}
                <option value="{{item[0]}}">{{item[0]}}</option>
                {% endfor %}
            </select>
            <label for="prod-1">Product:</label>
            <select id="prod-1" name="prod-1">
                <option value="">All</option>
                <option value="">All</option>
                <option value="">All</option>
            </select>
            <label for="qty-1">Quantity:</label>
            <input type="number" id="qty-1" name="qty-1">
            <label for="price-1">Price:</label>
            <input type="text" id="price-1" name="price-1" readonly>
        </div>
    </div>
    <div>
        <button id="add-row">+</button>
        <button id="submit-form">Submit</button>
    </div>



    <script>
        // Get all the form rows
        const formRows = document.querySelectorAll('.form-row');

        // Add a delegated event handler to the parent element that listens for changes on all the product select elements
        formRows.forEach(row => {
            row.addEventListener('change', (event) => {
                // Get the element that triggered the event
                const target = event.target;

                // If the triggered element is a product select element
                if (target.tagName.toLowerCase() === 'select' && target.name.startsWith('prod-')) {
                    // Get the quantity input element for the same row as the triggered product select element
                    const qtyInput = row.querySelector(`input[name="qty-${target.name.split('-')[1]}"]`);

                    // Get the price input element for the same row as the triggered product select element
                    const priceInput = row.querySelector(`input[name="price-${target.name.split('-')[1]}"]`);

                    // Get the selected product ID
                    const prodId = target.value;

                    // Make an AJAX request to get the price for the selected product
                    // Replace the URL with the URL of your Flask endpoint that returns the price for the given product ID
                    fetch(`/price?prod_id=${prodId}`)
                        .then(response => response.json())
                        .then(data => {
                            // Set the price input value
                            priceInput.value = data.price;
                        })
                        .catch(error => console.error(error));
                }
            });

            // Add an event listener to the subcategory select element in each row
            const subcatSelect = row.querySelector('select[name^="subcat"]');
            const prodSelect = row.querySelector('select[name^="prod"]');
            const priceInput = row.querySelector('input[name^="price"]');

            subcatSelect.addEventListener('change', () => {
                // Get the selected subcategory ID
                const subcatId = subcatSelect.value;

                // Make an AJAX request to get the products for the selected subcategory
                // Replace the URL with the URL of your Flask endpoint that returns the products for the given subcategory ID
                fetch(`/productbulk?subcat_id=${subcatId}`)
                    .then(response => response.json())
                    .then(products => {
                        // Clear the previous options
                        prodSelect.innerHTML = '<option value="">Please select a product</option>';

                        // Add the new options
                        for (const [title, id] of products) {
                            const option = document.createElement('option');
                            option.value = id;
                            option.text = title;
                            prodSelect.appendChild(option);
                        }
                    })
                    .catch(error => console.error(error));
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            var row = 1;

            $("#add-row").click(function () {
                row++;
                var html = '<div class="form-row">';
                html += '<label for="subcat-' + row + '">Subcategory:</label>';
                html += '<select id="subcat-' + row + '" name="subcat-' + row + '">';
                html += '<option value="{{item}}">{{item}}</option>';

                html += '</select>';
                html += '<label for="prod-' + row + '">Product:</label>';
                html += '<select id="prod-' + row + '" name="prod-' + row + '">';
                html += '<option value="">All</option>';
                html += '<option value="">All</option>';
                html += '<option value="">All</option>';
                html += '</select>';
                html += '<label for="qty-' + row + '">Quantity:</label>';
                html += '<input type="number" id="qty-' + row + '" name="qty-' + row + '">';
                html += '<label for="price-' + row + '">Price:</label>';
                html += '<input type="text" readonly id="price-' + row + '" name="price-' + row + ' ">';
                html += '</div>';
                $("#form-rows").append(html);



                const subcatSelect = document.getElementById('subcat-' + row);
                fetch('/subcategory')
                    .then(response => response.json())
                    .then(subcats => {
                        // Clear the previous options
                        subcatSelect.innerHTML = '<option value="">Please select a subcategory</option>';

                        // Add the new options
                        for (const [name, id] of subcats) {
                            const option = document.createElement('option');
                            option.value = id;
                            option.text = name;
                            subcatSelect.appendChild(option);
                        }
                    })
                    .catch(error => console.error(error));
            });

        });


        $("#submit-form").click(function () {
            var data = {};
            for (var i = 1; i <= row; i++) {
                var subcat = $("#subcat-" + i).val();
                var prod = $("#prod-" + i).val();
                var qty = $("#qty-" + i).val();
                if (subcat && prod && qty) {
                    data["subcat-" + i] = subcat;
                    data["prod-" + i] = prod;
                    data["qty-" + i] = qty;
                }
            }
            $.ajax({
                url: "/submit-form",
                method: "POST",
                data: data,
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });


    </script>


    {% include 'foot.html' %}
</body>

</html>