<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/foot.css">
</head>

<body>
    <section class="foot">
        
        <center>
            <div class="footerlogo">
                <img src="/static/e-cart.png" alt="">
                <h5>E-Cart</h5>

            </div>
            <div class="centfoot">
                <div class="sitemap">
                    <H3 style="font-family:Sono ">Top Categories</H3>

                    <a href="">Electronics</a>
                    <a href="">Grocery</a>
                    <a href="">Toys</a>
                    <a href="">Shoes</a>
                    <a href="">Others</a>

                </div>
                <div class="minmap">
                    <H3>Help</H3>

                    <a href="/cart">Cart</a>
                    <a href="/orders">Orders</a>
                    <a href="/cart">Payments</a>


                </div>
                <div class="about">
                    <h3>About Us</h3>
                    <a href="">About</a>
                </div>
                <div class="seller">
                    <h3>Became a Seller</h3>
                    <a href="">Seller Registration</a>
                </div>
                <div class="feedback">
                    <h3>FeedBack</h3>
                    <div class="feed">
                        <form action="mailto:example@example.com" method="post" enctype="text/plain" id="mailto">







                            <input  name="message" id="msg" required>

                            <button type="submit" id="mailicon"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>

            </div>
            <hr style="color: aliceblue;font-weight: 600px;">
            <h3
                style="text-decoration: none;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                Follow Us On:</h3>
            <div class="cont-links">
                <a href=""> <i class="fab fa-github" id="git"></i></a>
                <a href=""><i class="fas fa-envelope" id="mail"></i></a>
                <a href=""><i class="fab fa-linkedin-in" id="link"></i></a>
                <a href=""><i class="fab fa-youtube" id="you"></i></a>
            </div>

            <p class="copy">Copyright &copy; All Rights Not Reserved.</p>
        </center>
    </section>

</body>

</html>