<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>E-Cart</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/index.css" />
  <link rel="stylesheet" href="/static/nav.css">
  <script type="text/javascript" src="/static/script.js"></script>

  <link rel="shortcut icon" href="/static/logo.png" type="image/x-icon">

</head>

<body>


  {% include 'nav.html' %}



  <section class="top">
    <div class="carousel">
      <img src="/static/Virtual.png" class="im active" alt="..." />
      <img src="/static/Summer (1).png" class="im" alt="..." />
      <img src="/static/NEW ARRIVAL SPORT SHOES.png" class="im" alt="..." />
      <img src="/static/Untitled design (2).png" class="im" alt="..." />


    </div>
    <button class="leftb" onclick="previousReview()">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button class="rightb" onclick="nextReview()">
      <i class="fas fa-chevron-right"></i>
    </button>

    <div class="products-cat">
      <button class="leftcatb">
        <i class="fas fa-chevron-left"></i>
      </button>


      <div class="card" style="background-color: transparent;">


        <h3>Electronics</h3>

      </div>
      <div class="card" style="background-color: transparent;">
        <h3>Appliances</h3>

      </div>
      <div class="card" style="background-color: transparent;">
        <h3>Toys</h3>

      </div>
      <div class="card" style="background-color: transparent;">
        <h3>Bags</h3>

      </div>
      <div class="card" style="background-color: transparent;">
        <h3>Shoes</h3>

      </div>
      <div class="card" style="background-color: transparent;">
        <h3>Jewels</h3>

      </div>
      <div class="card" style="background-color: transparent;">
        <h3>Books</h3>

      </div>
      <div class="card" style="background-color: transparent;">
        <h3>Grocery</h3>

      </div>
      <button class="rightcatb">
        <i class="fas fa-chevron-right"></i></button>
    </div>

  </section>

  <section class="bodycatlog">

    {% include 'catad.html' %}




    {% if trenddata %}
    <div class="carddis">
      <div class="fixel">
        <h3>Trending Products</h3>
        <h3 style="display: flex;align-items: center;justify-content: center;width: 100%;"><i class="fas fa-poll"></i>
        </h3>
      </div>
      <div class="rgscroll">
        {%for item in trenddata%}
        <div class="s">
          <a href="/productdesc/{{item[0]}}">
            <div class="cardlayout">
              <img src="{{item[1]}}" alt="">

              <h3>{{item[4]}}</h3>
              <h3 style="color: grey;">{{item[3]}}</h3>
              <span>Ratings {{item[2]}}</span>
            </div>
          </a>


        </div>
        {% endfor %}

      </div>


    </div>
    {% endif %}


    {% if data %}
    <div class="carddis">
      <div class="fixel">
        <h3>Favorite Products</h3>
        <h3 style="display: flex;align-items: center;justify-content: center;width: 100%;"><i class="fas fa-heart"></i>
        </h3>
      </div>
      <div class="rgscroll">
        {%for item in data%}
        
        <div class="s">


          <div class="cardlayout">
            <a href="/remove-favorite/{{item[1]}}"><i class="fas fa-heart"></i></a>
            <a href="/productdesc/{{item[1]}}"><img src="{{item[4]}}" alt=""></a>

            <h3>{{item[3]}}</h3>
            <h3 style="color: grey;">{{item[2]}}</h3>
            <span>Ratings {{item[5]}}</span>
          </div>
          


        </div>
        {% endfor %}

      </div>


    </div>

    {% endif %}




    <div class="logbut" {% if session.get('loggedin')==True %}style="display: none" {% endif %}>
      <center>
        <p>Please sign in or If You Don't Have Accont Create New Account Using Register :) ..</p>
        <a href="/login"><button class="reglog">SignIn/SignUp</button></a>
      </center>
    </div>








  </section>



  {% include 'foot.html' %}



  <script>


    // cat scroll


    const scContainer = document.querySelector('.products-cat');
    const scLeftButton = document.querySelector('.leftcatb');
    const scRightButton = document.querySelector('.rightcatb');

    scLeftButton.addEventListener('click', () => {
      scContainer.scrollLeft -= 100;
    });

    scRightButton.addEventListener('click', () => {
      scContainer.scrollLeft += 100;
    });

    // if (!navigator.onLine) {
    //   window.location.href = '/offline';
    // }
















  </script>
  <!-- 
  <script>
    window.addEventListener('beforeunload', function (e) {
      // Cancel the event
      e.preventDefault();
      // Chrome requires returnValue to be set
      e.returnValue = '';
      // Show the popup
      var message = 'Are you sure you want to leave?';
      e.returnValue = message;
      return message;
    });
  </script> -->


</body>

</html>