<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Product suggestions</h1>
    {% if suggested_products %}
    <ul>
        {% for product in suggested_products %}
        <li><a href="{{ url_for('product', product_id=product.id) }}">{{ product.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No product suggestions.</p>
    {% endif %}

</body>

</html>