@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Poppins&family=Roboto+Mono&family=Sono&display=swap");

/*
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Sono', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  font-family: "Sono", sans-serif;
  font-size: 30px;
  font-weight: bold;
}
#form-rows {
  max-width: 1600px;
  min-height: 400px;
  max-height: 600px;
  padding: 10px;
  overflow: scroll;
  height: fit-content;
  background: aliceblue;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.form-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  font-family: "Sono", sans-serif;
}
select {
  width: 200px;
}
input {
  width: 200px;
}
.form-row label {
  margin-right: 10px;
}

.form-row select,
.form-row input {
  margin-right: 10px;
}

/* Buttons */
#add-row {
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit-form {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit-form:hover,
#add-row:hover {
  opacity: 0.8;
}
