@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Poppins&family=Roboto+Mono&family=Sono&display=swap");

/*
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Sono', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: orange;
}
ul {
  list-style: none;
}
body {
  overflow-x: hidden;
  background-color: aliceblue;
  width: 100vw;
  height: 100vh;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
img {
  width: 500px;
  height: auto;
  background-position: center;
  background-size: cover;

  padding: 10px;
  background-color: rgb(211, 229, 232);
  border-radius: 58% 42% 44% 56% / 79% 33% 67% 21%;
}
.mail {
  margin-top: 30px;
  font-family: "Sono", sans-serif;
  font-size: 20px;
  color: crimson;
}

.timer {
  margin: 20px;
  color: green;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
span {
  color: yellowgreen;
}
